* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: white; /* Este es solo para visualización y puede ser eliminado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-container {
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.navbar {
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    padding: 10px 0;
}

h3 {
    text-align: center;
}

.skills-category {
    margin-bottom: 30px;
}

.skills-category h3 {
    margin-bottom: 10px;
    color: #555;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.skill-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}